
{% extends 'base.html' %}

{% block title %}Home - Back-end Developer Resume{% endblock %}

{% block content %}

{% load static %}
<section class="container1">

    <section>

        <h1>Certifications</h1>

    


        <section class="certs">

            <div class="certificate">

                <img src="{% static 'images/DatabasesCertificate.jpg' %}" alt="Database Cerificate">

        
            </div>

        </section>
    </section>
</section>

<section class="container1">
    <section>
        <section class="certs">

         <div class="certificate2">

            <img src="{% static 'images/pythonmetacert.jpg' %}" alt="Database Cerificate">

         </div>

        </section>
    </section>
</section>

<section class="container1">
    <section>
        <section class="certs">

        <div class="certificate3">

            <img src="{% static 'images/metacert1.jpg' %}" alt="Database Cerificate">

        </div>

        </section>
    </section>
</section>

<section class="container1">
    <section>

        <section class="certs">

            <div class="certificate3">

                <img src="{% static 'images/djangometacert.jpg' %}" alt="Database Cerificate">

            </div>

        </section>
    </section>
</section>

<section class="container1">
    <section>
        <section class="certs">

            <div class="certificate3">

                <img src="{% static 'images/APICERTMETA.jpg' %}" alt="Database Cerificate">

            </div>

       
        </section>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sections = document.querySelectorAll('.container1');
    
        const observerOptions = {
            root: null,
            rootMargin: '0px',
            threshold: 0.1
        };
    
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);
    
        sections.forEach(section => {
            observer.observe(section);
        });
    });
    </script>
{% endblock %}