
{% extends 'base.html' %}

{% block title %}Home - Back-end Developer Resume{% endblock %}

{% block content %}
{% load static %}
<section class="container1"> 
    <section>
        <section class="about-me-section">
            <h2 style="font-size: 40px">Hi my name is, </h2>
            <h2 style="font-size: 60px">Daniel Roth </h2>
            <div class="about-me-content">
                <img src="{% static 'images/DanielRothtree.jpg' %}" class="about-me-image2">
                <div class="about-me-text">
                    <p>I am a <span class="highlight">Full-Stack Web Developer</span> with experience across multiple programming languages and technologies. I am passionate about creating user-friendly applications that solve real-world problems.</p>
                </div>
            </div>
        </section>
    </section>
</section>

<section class="container1">
    <section>
        <h2 style="font-size: 35px">Hard Skills</h2>
        <section class="skillsul">
        <ul>
            <li>Programming Languages: Python, Java, JavaScript</li>
            <li>Web Frameworks: Django, Flask</li>
            <li>Database Management: MySQL, PostgreSQL, MongoDB</li>
            <li>Version Control: Git, SVN</li>
            <li>RESTful APIs</li>
            <li>Cloud Services: AWS (S3, RDS), Heroku</li>
            <li>Front-end Technologies: HTML, CSS, Bootstrap</li>
            <li>Containerization and Orchestration: Docker</li>
            <li>CI/CD Tools: GitHub Actions, Travis CI, Jenkins</li>
            <li>Real-time Communication: WebSockets, Django Channels</li>
            <li>Authentication and Authorization: OAuth2, JWT</li>
            <li>Security: Implementing security best practices in web applications</li>
            <li>Data Visualization: Matplotlib, Plotly</li>
        </ul>
        </section>
    </section>
</section>

<section class="container1">
    <section>
        <h2 style="font-size: 35px">Soft Skills</h2>
        <section class="skillsul">
            <ul>
                <li>Communication</li>
                <li>Problem-Solving</li>
                <li>Critical Thinking</li>
                <li>Empathy and Emotional Intelligence</li>
                <li>Adaptability</li>
                <li>Teamwork and Collaboration</li>
                <li>Organization</li>
                <li>Time Management </li>
                <li>Attention to Detail</li>
                <li>Leadership</li>
                <li>Mentorship</li>
                <li>Resilience and Stress Management</li>
            </ul>
        </section>
    </section>
</section>


    <section class="container1" id="projectsmain">
        <h1>Projects:</h1>
        <section class="certshome">
            <div class="certificate-container">
                <h3 class="title">Waves Social Media</h3>
                <a href="waves">
                    <img src="{% static 'images/wavessocial1.jpg' %}" alt="Waves Social Media" style="width: 350px; height: 350px;">
                </a>
            </div>
            <div class="certificate-container">
                <h3 class="title">Tile Game 'python game'</h3>
                <a href="pygame">
                    <img src="{% static 'images/LEVEL3.jpg' %}" alt="pygame" style="width:350px; height: 350px;">
                </a>
            </div>
            <div class="certificate-container">
                <h3 class="title">Portfolio</h3>
                <a href="portfolio">
                    <img src="{% static 'images/Portfoliopres.jpg' %}" alt="portfolio" style="width:350px; height: 350px;">
                </a>
            </div>
        </section>
    </section>

<section class="container1">
    <section class="contact-info">
        <h3>Contact Information</h3>
        <p><span>Email:</span> Danielcharlesroth@gmail.com</p>
        <p><span>Phone:</span> +1858-395-3373</p>
        <p><span>LinkedIn:</span> <a class="linkedin" href="https://www.linkedin.com/in/daniel-roth-945856239/" target="_blank">https://www.linkedin.com/in/daniel-roth-945856239/</a></p>
        <p><span>GitHub:</span> <a class="linkedin" href="https://github.com/Dcroth99" target="_blank">https://github.com/Dcroth99</a></p>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const sections = document.querySelectorAll('.container1');

    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.1 // Adjusted to 10% visibility
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
            }
        });
    }, observerOptions);

    sections.forEach(section => {
        observer.observe(section);
    });
});

</script>
{% endblock %}