
{% extends 'base.html' %}

{% block title %}Home - Back-end Developer Resume{% endblock %}

{% block content %}
{% load static %}
<div class="scroll-container">
    <section class="container1 visible"> <!-- Ensure the first section is visible initially -->
        <section>
            <h2>About Me</h2>
            <p>I am a proficient Full-Stack Developer with extensive experience across multiple programming languages and technologies. My expertise lies in crafting robust web applications. Outside of work, I enjoy surfing and hiking. Originally from San Diego, California, I graduated from the University of Hawai'i.</p>
            <p>My journey into programming began during my sophomore year in college, driven by a passion for developing desktop games for personal enjoyment and sharing with peers. Subsequently, I pursued elective courses in computer science, which not only sharpened my programming skills but also revealed my aptitude and potential in this field.</p>
            <p>I am committed to advancing my career in software development, eager to apply my skills and interests in a professional environment. My goal is to contribute meaningfully to innovative projects while continuing to evolve and refine my capabilities.</p>
        </section>
    </section>

    <section class="container1">
        <section>
            <h2>Hard Skills</h2>
            <ul>
                <li>Programming Languages: Python, Java, JavaScript</li>
                <li>Web Frameworks: Django, Flask</li>
                <li>Database Management: MySQL, PostgreSQL, MongoDB</li>
                <li>Version Control: Git, SVN</li>
                <li>RESTful APIs</li>
                <li>Cloud Services: AWS (S3, RDS), Heroku</li>
                <li>Front-end Technologies: HTML, CSS, Bootstrap</li>
                <li>Containerization and Orchestration: Docker</li>
                <li>CI/CD Tools: GitHub Actions, Travis CI, Jenkins</li>
                <li>Real-time Communication: WebSockets, Django Channels</li>
                <li>Authentication and Authorization: OAuth2, JWT</li>
                <li>Security: Implementing security best practices in web applications</li>
                <li>Data Visualization: Matplotlib, Plotly</li>
            </ul>
        </section>
    </section>

    <section class="container1">
        <section>
            <h2>Soft Skills</h2>
            <ul>
                <li>Communication</li>
                <li>Problem-Solving</li>
                <li>Critical Thinking</li>
                <li>Empathy and Emotional Intelligence</li>
                <li>Adaptability</li>
                <li>Teamwork and Collaboration</li>
                <li>Organization</li>
                <li>Time Management </li>
                <li>Attention to Detail</li>
                <li>Leadership</li>
                <li>Mentorship</li>
                <li>Resilience and Stress Management</li>
            </ul>
        </section>
    </section>

    <section class="container1">
        <h1>Projects:</h1>
        <section class="certshome">
            <div class="certificate-container">
                <h3 class="title">Waves Social Media</h3>
                <a href="waves">
                    <img src="{% static 'images/wavessocial1.jpg' %}" alt="Waves Social Media" style="width:425px;">
                </a>
            </div>
            <div class="certificate-container">
                <h3 class="title">Tile Game 'python game'</h3>
                <a href="pygame">
                    <img src="{% static 'images/LEVEL3.jpg' %}" alt="pygame" style="width:425px;">
                </a>
            </div>
        </section>
    </section>

    <section class="container1">
        <section class="contact-info">
            <h3>Contact Information</h3>
            <p><span>Email:</span> Danielcharlesroth@gmail.com</p>
            <p><span>Phone:</span> +1858-395-3373</p>
            <p><span>LinkedIn:</span> <a class="linkedin" href="https://www.linkedin.com/in/daniel-roth-945856239/" target="_blank">https://www.linkedin.com/in/daniel-roth-945856239/</a></p>
            <p><span>GitHub:</span> <a class="linkedin" href="https://github.com/Dcroth99" target="_blank">https://github.com/Dcroth99</a></p>
        </section>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sections = document.querySelectorAll('.container1');
        let currentSectionIndex = 0;
        let isThrottled = false;
        const throttleDuration = 800; // Adjust the duration for smoother transition
    
        sections[currentSectionIndex].classList.add('visible');
    
        const throttle = (callback, delay) => {
            if (isThrottled) return;
            isThrottled = true;
            callback();
            setTimeout(() => {
                isThrottled = false;
            }, delay);
        };
    
        const scrollHandler = (event) => {
            if (event.deltaY > 0) {
                // Scroll down
                if (currentSectionIndex < sections.length - 1) {
                    sections[currentSectionIndex].classList.remove('visible');
                    currentSectionIndex++;
                    sections[currentSectionIndex].classList.add('visible');
                }
            } else {
                // Scroll up
                if (currentSectionIndex > 0) {
                    sections[currentSectionIndex].classList.remove('visible');
                    currentSectionIndex--;
                    sections[currentSectionIndex].classList.add('visible');
                }
            }
        };
    
        document.addEventListener('wheel', (event) => {
            throttle(() => scrollHandler(event), throttleDuration);
        });
    });
    </script>
{% endblock %}