{% extends 'base.html' %}

{% block title %}Home - Back-end Developer Resume{% endblock %}

{% block content %}
{% load static %}
<section class="container1">
    <section>
        <h1>Portfolio Project</h1>
        <h2>Details</h2>
        <p>I built this portfolio project from scratch to showcase my web development skills and have full control over the design and functionality. Using a regular portfolio builder or resume builder can be limiting in terms of customization and personal touch. By building my own portfolio, I was able to create a unique presentation that truly reflects my skills, personality, and the quality of work I can deliver.</p>
        <h2>Why I Built It</h2>
        <h3>Creating my own portfolio allowed me to:</h3>
        <ul>
            <li>Demonstrate my proficiency in front-end and back-end technologies.</li>
            <li>Implement custom features that aren't typically available in standard portfolio builders.</li>
            <li>Showcase my problem-solving skills and ability to build a project from the ground up.</li>
            <li>Maintain full control over the codebase, allowing for easy updates and improvements.</li>
        </ul>
        <h2>Technologies Used</h2>
        <h3>The technologies used to build this portfolio include:</h3>
        <ul>
            <li><strong>HTML</strong>: For structuring the content of the webpage.</li>
            <li><strong>CSS</strong>: For styling the webpage and making it visually appealing.</li>
            <li><strong>JavaScript</strong>: For adding interactivity and dynamic content.</li>
            <li><strong>Python (Django)</strong>: For building the back-end server and handling data.</li>
            <li><strong>PostgreSQL</strong>: As the database for storing project details and other data.</li>
            <li><strong>Heroku</strong>: For deploying the portfolio website and making it accessible online.</li>
        </ul>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sections = document.querySelectorAll('.container1');
    
        const observerOptions = {
            root: null,
            rootMargin: '0px',
            threshold: 0.1
        };
    
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);
    
        sections.forEach(section => {
            observer.observe(section);
        });
    });
</script>
{% endblock %}